pytest
requests
requests-file
json-merger[contrib]

-e git+https://github.com/inspirehep/inspire-next.git@3a8c6f6191ba06c5d1b10b2404d2f813af956df6#egg=inspire-next

## Bleeding edge packages not yet released on Pypi
-e git+https://github.com/inveniosoftware/invenio-jsonschemas.git@master#egg=invenio-jsonschemas
-e git+https://github.com/inveniosoftware/flask-celeryext.git@master#egg=flask-celeryext

# FIXME temporary branch for testing
-e git+https://github.com/inspirehep/invenio-query-parser.git@invenio3-inspire#egg=invenio-query-parser==0.6.0

# JSON editor
-e git+https://github.com/inveniosoftware-contrib/invenio-record-editor.git#egg=invenio-record-editor

# Workflows and Holding Pen related dependencies
-e git+https://github.com/david-caro/workflow.git@minor_fixes_bumped_version#egg=workflow==2.0.1.dev20161019
-e git+https://github.com/inspirehep/invenio-matcher.git#egg=invenio-matcher
